* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Color variables*/
  --text-color: #155253;
  --primary-color: #ffc93c;
  --secondary-color: #ece6d9;
  /*Break point responsive*/
  --mobile: 440px;
  --computer: 1080px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  width: var(--mobile);
  height: 100vh;
  background-color: var(--secondary-color);
}
.ToiletList {
  width: 95%;
}

.country {
  border: solid 1px;
  border-radius: 10px;
  width: 30%;
  margin: 0.5em;
  cursor: pointer;
  background-color: var(--primary-color);
}
