* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--text-color)
    
  }
  :root {
    /*Color variables*/
    --text-color: #155253;
    --primary-color: #ffc93c;
    --secondary-color: #FFF8E6;
    
    /*Break point responsive*/
    --mobile: 415px;
    --computer: 1080px;
    --first-font: 'Palanquin', sans-serif; ;
  }
 
  .dashboard {
    font-family: var(--first-font);
    display: flex;
    flex-direction: column;
    width: var(--mobile);
    height: 100%;
    background-color:var(--secondary-color);
    
  }
  .ToiletList {
    width: 95%;

  }
    
  


  .ToiletList h2 {
    font-size: 1em;
  }

  .firstlist{
    display: flex;
    width: 6em;
    flex-direction: column;
    
    flex-wrap: wrap;
    background-color: var(--primary-color);
    opacity: 0.8;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
  }
.firstlistcontainer {
  display:flex;
  
  justify-content: space-around;

  flex-flow: row wrap;
  gap: 0.5em;
  
}
.countries {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.country {
  color: var(--text-color);
  width: 7em;
  margin: 0.3em;
  padding: 0.1em;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
}
.country:hover {
  background-color: var(--primary-color);
}