.chuck-norris-banner {
    
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    
    width: 90%;
  }
  
  .scrolling-text {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  