.footer {
  font-family: var(--first-font);
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--mobile);
  height: 3.5em;
}
.footer-text {
  color: whitesmoke;
  font-size: small;
}
